classic-container()
	display: flex
	flex-direction: column
	align-items: center
classic-img()
	width: 9rem
	height: 6rem
tag()
	width: .46rem
	height: 1.42rem
	position: relative
	right: 3.1rem
	bottom: 0.58rem		
content()
	display: block
	font-size: .36rem
	max-width: 5.5rem
